.nav > li {
	display: inline-block;
}
.navbar-brand>img {
	margin-top: -5px;
}
.top {
	margin: 4.2em 0 0 0;
}

.panel {
	margin-top: 3em;
}

.table {
	border: 1px solid #cdcdcd;
	border-radius: 3px;
}

@media screen and (min-width: 768px) {
	.top {
		margin-top: 3.6em;
	}
}
